@import "tailwindcss";

:root {
  --color-background: #111827;
  --color-foreground: #e2e8f0;
  --color-primary: #60a5fa;
  --color-primary-hover: #3b82f6;
  --color-secondary: #7dd3fc;
  --color-accent: #a5f3fc;
  --color-highlight: #93c5fd;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}