/* MarkdownStyles.module.css */

/* Estilos aplicados à div pai */
.proseContainer {
  margin-left: auto;
  margin-right: auto;
}

.proseContainer p:not(:first-of-type),
.proseContainer h3,
.proseContainer h4,
.proseContainer ul,
.proseContainer ol{
  margin-top: 2rem;
}

/* Estilos para os elementos dentro da div pai */
.proseContainer h1 {
  font-size: 2.25rem; /* text-4xl */
  font-weight: 600; /* font-semibold */
  color: #ffffff; /* text-gray-900 - cor escura para boa legibilidade */
  margin-bottom: 1rem;
}

.proseContainer h2 {
  font-size: 1.875rem; /* text-3xl */
  font-weight: 600; /* font-semibold */
  color: #ffffff; /* text-gray-900 */
  margin-bottom: 0.75rem;
}

.proseContainer h3 {
  font-size: 1.5rem; /* text-2xl */
  font-weight: 600; /* font-semibold */
  color: #ffffff; /* text-gray-900 */
  margin-bottom: 0.5rem;
}

.proseContainer h4 {
  font-size: 1.25rem; /* text-xl */
  font-weight: 600; /* font-semibold */
  color: #ffffff; /* text-gray-900 */
  margin-bottom: 0.5rem;
}

.proseContainer h5 {
  font-size: 1.125rem; /* text-lg */
  font-weight: 600; /* font-semibold */
  color: #ffffff; /* text-gray-900 */
  margin-bottom: 0.5rem;
}

.proseContainer h6 {
  font-size: 1rem; /* text-base */
  font-weight: 600; /* font-semibold */
  color: #ffffff; /* text-gray-900 */
  margin-bottom: 0.5rem;
}

.proseContainer ul,
.proseContainer ol {
  list-style-position: inside;
  margin-bottom: 1rem;
}

.proseContainer ul li,
.proseContainer ol li {
  margin-bottom: 0.5rem;
}

.proseContainer strong {
  font-weight: 700; /* font-bold */
}

.proseContainer em {
  font-style: italic;
}

.proseContainer del {
  text-decoration: line-through;
}

.proseContainer a {
  color: #ffffff; /* text-blue-500 */
  text-decoration: underline;
}

.proseContainer img {
  width: 75%;
  max-width: 680px;
  border-radius: 10px;
  height: auto;
  margin: auto;
}

/* Código inline */
.proseContainer code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.875rem; /* text-sm */
  background-color: #2d3748; /* bg-gray-100 - fundo claro */
  color: #f7fafc; /* text-gray-800 - cor escura para texto de código */
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem; /* rounded-md */
}
/* Bloco de código */
.proseContainer pre {
  overflow: auto;
  background-color: #2d3748;
  padding: 1rem;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
}

.proseContainer pre code {
  display: block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.875rem;
  color: #f7fafc;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
  min-width: 100%;
  width: 0px;
  overflow: auto; /* Or scroll */
}

/* Citações */
.proseContainer blockquote {
  border-left: 4px solid #cbd5e0; /* border-l-4 */
  padding-left: 1rem; /* pl-4 */
  color: #cbd5e0; /* text-gray-600 - tom de cinza escuro */
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Tabelas */
.proseContainer table {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-collapse: collapse;
}

.proseContainer table th,
.proseContainer table td {
  padding: 0.5rem 1rem;
  border: 1px solid #e2e8f0; /* border-gray-300 */
  color: #1a202c; /* text-gray-900 - texto escuro */
}

.proseContainer table th {
  background-color: #f7fafc; /* bg-gray-100 - cabeçalho claro */
}

.proseContainer table td {
  background-color: #ffffff; /* fundo branco para as células */
}

/* Linha horizontal */
.proseContainer hr {
  border-top: 2px solid #e2e8f0; /* border-t-2 */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Notas de rodapé */
.proseContainer .footnote-ref {
  color: #ffffff; /* text-blue-500 */
  text-decoration: underline;
}

.proseContainer .footnote-backref {
  font-size: 0.875rem; /* text-xs */
  color: #ffffff; /* text-blue-500 */
  text-decoration: underline;
}
